<div>
ID: {{id}} <br/>
Name: {{name}} <br/>
Avg: {{avg}} <br/><br/>

<b>Address</b><br/>
StreetNo : {{address.streetNo}} <br/>
City : {{address.city}} <br/>
State: {{address.state}} <br/><br/>

<b><i>Hobbies</i></b>
<ul>
    <li *ngFor = "let hobby of hobbies">{{hobby}}</li>
</ul>
</div>